* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #8e95c7;
}

.container-generator {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0 30px;
  max-width: 800px;
  height: 100%;
}
.container-generator .box {
  width: 400px;
  height: 600px;
  padding: 10px 15px;
  background-color: #0a0c1b;
  border-radius: 10px;
}
.container-generator .box__title {
  font-size: 2.3rem;
  margin-bottom: 30px;
  color: white;
}
.container-generator .box__label {
  display: block;
  font-weight: bold;
  color: #ffffff80;
  text-transform: uppercase;
  font-size: 0.65rem;
  pointer-events: none;
  margin-bottom: 5px;
}
.container-generator .box .box-style {
  display: flex;
  align-items: center;
  background-color: #1D2141;
  width: 100%;
  height: 55px;
  border-radius: 5px;
  color: white;
  font-size: 1.2rem;
  margin-bottom: 15px;
}
.container-generator .box__output {
  position: relative;
  justify-content: center;
}
.container-generator .box__output .right,
.container-generator .box__output .left {
  position: absolute;
  bottom: 4px;
  transform: translateY(20%);
  color: #fff;
  font-size: 0.6rem;
  transition: all 150ms ease-in-out;
  opacity: 0;
}
.container-generator .box__output .right--done,
.container-generator .box__output .left--done {
  transform: translateY(0%);
  opacity: 1;
}
.container-generator .box__output .right {
  right: 8px;
}
.container-generator .box__output .left {
  left: 8px;
}
.container-generator .box__output.done {
  transition: 0.2s ease-in-out;
}
.container-generator .box__output.done:hover {
  cursor: pointer;
  background-color: #24274b;
}
.container-generator .box__settings {
  position: relative;
  justify-content: space-between;
  padding: 20px;
}
.container-generator .box__settings input {
  opacity: 0;
  position: absolute;
}
.container-generator .box__settings input + label {
  margin-bottom: 0;
}
.container-generator .box__settings input + label::before, .container-generator .box__settings input + label::after {
  content: "";
  position: absolute;
  transition: 150ms cubic-bezier(0.24, 0, 0.5, 1);
  transform: translateY(-50%);
  top: 50%;
  right: 10px;
  cursor: pointer;
}
.container-generator .box__settings input + label::before {
  height: 30px;
  width: 50px;
  border-radius: 30px;
  background: rgba(214, 214, 214, 0.434);
}
.container-generator .box__settings input + label::after {
  height: 24px;
  width: 24px;
  border-radius: 60px;
  right: 32px;
  background: #fff;
}
.container-generator .box__settings input:checked + label:before {
  background: #5d68e2;
  transition: all 150ms cubic-bezier(0, 0, 0, 0.1);
}
.container-generator .box__settings input:checked + label:after {
  right: 14px;
}
.container-generator .box__button {
  padding: 5px 0;
  border-radius: 5px;
  color: white;
  outline: none;
  border: none;
  background: #5d68e2;
  transition: 0.2s ease-in-out;
}
.container-generator .box__button:hover {
  cursor: pointer;
  background-color: #3e469b;
}

/*# sourceMappingURL=style.css.map */
